/* 480-320 */
@media(max-width: 480px) {

    /* header */
    .header {
        padding: 28px 20px;
    }

    .header_logo {
        width: 40px;
        height: 40px;
    }

    .header_section {
        column-gap: 16px;
    }

    .header_button,
    .header_button_vctor {
        width: 32px;
        height: 32px;
    }

    /* home section 1 */

    .home_section_1_div {
        column-gap: 16px;
    }

    .home_section_1_h3,
    span {
        font-size: 24px;
        line-height: 32px;
    }

    /* home section 2 */
    .home_section_2 {
        padding: 32px 0px 32px 20px;
    }
    .home_section_2_h2{
    font-size: 24px;
    line-height: 32px;
  
}
.line {
    width: 150px;
}
    
    .home_section_2_section {
        margin-top: 40px;
    }
    /* catalog page style */

    .catalog_section {
        padding: 32px 20px;
    }

    .catalog_section_1_button_p,
    .page_navigation_section_button_text {
        display: none;
    }

    /* contact page style */
    .contact_section {
        padding-inline: 20px;
    }

    .contact_section_3 {
        flex-direction: column;
        row-gap: 36px;

    }
    /* footer */
    footer {
        flex-direction: column;
        align-items: center;
        padding-block: 32px;
        row-gap: 40px;
    }

    .footersection_line,
    .footer_icone_section {
        margin: auto;
    }

    .footer_li,
    .footer_li1,
    .footer_H4,
    .footer_contact_section_div,
    .footer_section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 320px) {

 /* header */
 .header {
    padding-inline: 8px;
}
 /* home section 2 */
 .home_section_2 {
    padding-left: 8px;
}










}